* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    margin: 0;
}

/* -------- Global ------- */























:root {
    --mColor: #00bef5;
    --transColor: #006a87cf;
    --mPadding: 100px;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--mColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}
.main-heading {
    text-align: center;
    margin-bottom: 80px
}

.main-heading h1{
    font-size: 3em;
    font-weight: 600;
    margin: 0 0 50px 0;
    position: relative;
}
.main-heading h1::before{
    position: absolute;
    content: "";
    background-color: black;
    width: 230px;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.main-heading h1::after{
    position: absolute;
    content: "";
    background-color: white;
    border: 2px solid black;
    width: 17px;
    height: 17px;
    bottom: -19.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
}


header {
    position: absolute;
    right: 0; top: 0;
    width: 100%;
    z-index: 2;
    color: white;
    position: absolute;
    top: 10px
}

header a img {
    width: 150px;
}

header .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-height: 70px;
    width: 869px;
    background-color: var(--mColor);
    align-items: center;
    position: fixed;
    left: 50%;
    top: 10px;
    min-width: 70%;
    border-radius: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 899px) {
    header .container {
        min-width: 100%;
        width: fit-content;
        top: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

}


@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 991px){
    .container {
        max-width: 970px;
    }
}

@media (max-width: 767px){
    .container {
        max-width: 750px;
    }
}

.container input {
    display: none;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header nav .search {
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}

header nav .search::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: white;
    left: 0; top: 0;
}

.container nav label {
    padding-right: 30px;
    font-size: 15pt;
    cursor: pointer;
}

.container nav menu {
    display: none;
    list-style: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

@media (min-width: 900px) {
    .container nav label {
        display: none;
    }
    .container nav menu{
        display: flex;
    }
}

.container #toggle:checked ~ nav menu{
    display: flex;
}

.container nav menu li {
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
}

.container nav menu li.selected {
    color: white;
}
.container nav menu li.selected::after {
    color: white;
    content: "";
    position: absolute;
    height: 2px; width: 100%;
    bottom: -20px; left: 0;
    background-color: white;
    z-index: 3;
}

.container nav menu li:hover::after {
    content: "";
    position: absolute;
    height: 2px; width: 100%;
    bottom: -20px; left: 0;
    background-color: white;
    z-index: 3;
}

@media (max-width: 899px) {
    .container nav menu {
        position: absolute;
        top: 54px;
        right: 0px;
        flex-direction: column;
        padding: 0;
        width: 300px;
        height: calc(100vh - 96px);
        background-color: #000000b0;
        color: white
    }
    .container nav menu li {
        padding: 10px 20px;
        margin: 10px 0;
    }
    .container nav menu li:hover::after {
        bottom: -10px; right: 15px;
        width: calc(100% - 20px);
        background-color: var(--mColor);
        z-index: 3;
    }
    .container nav menu li.selected::after {
        color: #00bef5;
        content: "";
        bottom: -10px;
        right: 15px;
        width: calc(100% - 20px);
        background-color: var(--mColor);
        z-index: 3;
    }
}

section.landing {
    min-height: 100vh;
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    background-image: url(/flame\ ar\ background.jpg);
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    z-index: -2;
}
.landing::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    z-index: -1;
}

.landing .content {
    position: absolute;
    background-color: #006a87cf;
    color: white;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.landing .content .text {
    width: 70%
}

@media (max-width: 900px) {
    .landing .content {
        width: 100%;
        padding: 30px
    }
    .landing .content .text {
        margin-left: 80px;
        width: 80%;
    }
}

@media (max-width: 500px) {
    .landing .content {
        padding: 20px;
    }
    .landing .content .text {
        margin:0;
        width: 90%;
    }
}

.services .container {
    padding: var(--mPadding) 0
}

.srv-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 30px
}

@media (max-width: 1260px) {
    .srv-container {
        padding: 0 20px
    }
}

.srv-container .box {
    display: flex;
    justify-content: space-between;
    animation: slide-left 1s ;
    -webkit-animation: slide-left 1s 1 ease-out;
    position: relative;
    overflow: hidden;
}

@keyframes slide-left {
    from {
        transform: translateX(250%);
        -webkit-transform: translateX(250%);
        -moz-transform: translateX(250%);
        -ms-transform: translateX(250%);
        -o-transform: translateX(250%);
    }
   to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.srv-container .box:hover::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    right: 100%;
    background-color: var(--mColor);
    animation: half-slide-left 0.5s 1 ease-out;
    -webkit-animation: half-slide-left 0.5s 1 ease-out;
}

@keyframes half-slide-left {
   to {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}

.srv-container .box i{
    font-size: 3em;
    align-self: center;
    margin-left: 30px
}

@media (max-width: 404px) {
    .srv-container .box {
        max-width: 250px
    }
    .srv-container .box i {
        font-size: 2em
    }
}

.srv-container .box .text h3{
    color: var(--mColor);
    font-size: 1.5em;
}

.series .container {
    padding: var(--mPadding) 0
}
.series ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0
}

.series ul li{
    padding: 7px 15px;
    background-color: #EEE;
    margin: 0 5px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.series ul li:hover{
    color: white;
    background-color: var(--mColor)
}

.series ul li:active{
    color: white;
    background-color: #006480
}

.series ul li.active{
    color: white;
    background-color: var(--mColor)
}

.series .container .series-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px
}

.series .container .series-container .box {
    max-height: 280px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    transform-origin: left top;
}


.series .container .series-container .box img {
    width: 100%;
}


.series .container .series-container .box .details {
    position: relative;
    background-color:rgba(0, 0, 0, 0.8);
    color:white;
    height: 300px;
    overflow: scroll;
    transition: 0.5s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.series .container .series-container .box:hover .details{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.series .container .series-container .box .details h4 {
    text-align: left;
    margin: 0;
    color: var(--mColor);
    line-height: 1.2em;
    padding: 10px
}

.series .container .series-container .box .details p {
    margin: 0;
    font-size: 10pt;
    padding: 5px 10px 20px;
}

.video .container {
    max-width: 100%;
    padding: 0px
}

.video .content {
    position: relative;
}

.video .content .video video{
    width: 100%;
}

.video .content .video {
    position: relative;
}

.video .content .video::before {
    position: absolute;
    content: "";
    width: 100%; height: 100%;
    top: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.video .container .content .series {
    position: absolute;
    top: 0; right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.video .container .content .series .img img{
    max-width: 300px;
    margin: 20px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.video .container .content .series .img .rate{
    text-align: center;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0; margin: 0;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: -20px 0 0 0;
}

.video .container .content .series .img .rate span{
    color: gold;
    font-size: 5em;
    padding: 0; margin: -40px 0 0 0;
}

.video .container .content .series .img .rate span::before{
    content: "10/";
    color: white;
    font-size: 0.2em;

}

.video .container .content .series  .text {
    color: white;
    height: 590px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.video .container .content .series  .text h1{
    font-size: 2em
}

.video .container .content .series  .text .tags{
    color: black;
    height: fit-content
}

.video .container .content .series  a {
    color: white;
    background-color: var(--mColor);
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.2em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    width: 200px;
    align-self: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.video .container .content .series  a:hover {
    background-color: #0084ff;
}

.video .container .content .series  a:active {
    background-color: #006480;
}

@media (max-width: 1300px) {
    .video .container .content .series .img img {
        max-width: 250px;
    }
}

@media (max-width: 1050px) {
    .video .container .content .series .img img {
        max-width: 200px;
    }
    .video .container .content .series .img .rate {
        font-size: 1em;
    }
    .video .container .content .series .text {
        height: 400px
    }
}

@media (max-width: 893px) {
    .video .container .content .series {
        position: relative;
        display: flex;
    }
    .video .container .content .series .img .rate {
        color: black;
        text-shadow: none;
    }
    .video .container .content .series .img .rate span {
        color: goldenrod;
    }
    .video .container .content .series .img .rate span::before {
        color: black
    }
    .video .container .content .series .text {
        color: black
    }
    .video .container .content .series .text h1{
        font-size: 1.5em;
        line-height: 1em;
    }
    .video .container .content .series .text p{
        margin: -5px 0 10px 0;
        padding: 5px
    }
    .video .container .content .series .text .tags {
        font-size: 0.9em;
        margin-bottom: 20px
    }
    .video .container .content .series .text .tags li {
        padding: 5px 10px;
        margin: 5px
    }
    .video .container .content .series a {
        padding: 10px 30px;

    }
}

@media (max-width: 582px) {
    .video .container .content .series {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .video .container .content .series .text {
        text-align: center;
        flex-wrap: nowrap;
    }
    .video .container .content .series {
        height: calc(100% + 2500px)
    }
    .video .container .content .series .img {
        max-width: 300px;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
    }
    .video .container .content .series .img img {
        max-width: 300px;
        margin-bottom: 30px;
    }
    .video .container .content .series .text {
        margin-top: -20px;
    }
}

.numbers .container {
    padding: var(--mPadding) 0;
    background-image: url(/Images/WALLPAPER.jpg);
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.numbers .container .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 0;
        margin: 0 auto;
        text-align: center;
        background-color: #00c8ff8a;
        padding: 50px 0 30px 0;
        max-width: 1200px;
}

@media (max-width: 1005px) {
    .numbers .container .wrapper .box {
        margin-bottom: 60px;
    }
}
.numbers .container .wrapper .box i {
    font-size: 2em;
    color: white
}

.numbers .container .wrapper .box h1 {
    font-size: 2.3em;
    color: white;
    margin: 10px
}

.numbers .container .wrapper .box h4 {
    font-weight: 400;
    color: white;
    margin: 0
}

.vip .container {
    padding: var(--mPadding) 40px
}
.vip .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.vip .wrapper .box {
    background-color: #EEE;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}


.vip .wrapper .box .head {
    background-color: var(--mColor);
    border-radius: 10px;
    padding: 20px;
    margin-top: -20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.vip .wrapper .box:nth-of-type(2) .head {
    background-color: #eeba36;
    position: relative;
}

.vip .wrapper .box:nth-of-type(3) .head {
    background-color: #b05bff;
    position: relative;
}

.vip .wrapper .box:nth-of-type(2) .head::after {
    position: absolute;
    content: "★ المفضل لدي الأغلبية";
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.vip .wrapper .box .head h3 {
    font-weight: normal;
}

.vip .wrapper .box .head span {
    font-weight: bold;
    font-size: 4em;
    position: relative;
}

.vip .wrapper .box .head span::before {
    content: "$";
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 0.4em;
}

.vip .wrapper .box .head span::after {
    content: "شهريًا";
    position: absolute;
    top: 10px;
    left: -100px;
    font-size: 0.3em;
    font-weight: normal;
}

.vip .wrapper .box ul {
    list-style: none;
    padding: 0
}

.vip .wrapper .box ul li {
    padding: 20px;
    position: relative;
    margin-bottom: 10px;
}

.vip .wrapper .box ul li:last-child {
    margin-bottom: 50px;
}

.vip .wrapper .box ul li:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 50%;
    background-color: #b6b6b6;
    height: 1px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.vip .wrapper .box a.vip-link {
    color: white;
    background-color: var(--mColor);
    padding: 10px 50px;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.vip .wrapper .box:nth-of-type(2) a.vip-link {
    background-color: #eeba36;
}

.vip .wrapper .box:nth-of-type(3) a.vip-link {
    background-color: #b05bff;
}

.vip .wrapper .box a.vip-link:hover {
    color: black;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}



footer {
    padding: var(--mPadding) 20px;
    background-image: url(/Images/wallapaper2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    max-height: 550px;
}

footer::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}


footer .container img {
    width: 200px
}

footer .container {
    color: white;
    z-index: 1;
}

footer .container .text p:first-of-type {
    text-transform: uppercase;
    font-size: 1.6em;
    position: relative;
}

footer .container .text p:first-of-type::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    left: 50%;
    bottom: -10px;
    background-color: white;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

footer .container .text .social {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    margin: auto;
}

footer .container .text .social a{
    color: white;
}

footer .container .text p:nth-of-type(2){
    margin-top: 50px;
}
footer .container .text p:nth-of-type(2) span:nth-of-type(2){
    color: var(--mColor);
    font-weight: bold;
}

footer .container .text p:nth-of-type(2) .copyright{
    font-size: 1.5em;
    text-align: center;
    margin-right: 10px
}

/* ---------------/---------------- */
/* 
.parent {
    display: block;
    height: 5vh;
    margin: 100vh auto
}
.test {
    width: 100%;
    background-color: white;
    color:black;
    font-size: 2em;
    text-align: center;
    position: sticky;
    bottom: 10px; right: 0;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* --------- WRAPPER ---------
.wrapper {
    display: flex;
    width: 800px;
    height: 400px;
    background-color: white;
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.wrapper form {
    width: 400px;
    padding: 20px;
}

/* --------- SIGNUP FORM ---------
.signup-form {
    position: absolute;
    left: 50%; top: 0;
    padding-left: 15px;
    width: 400px;
    z-index: 1;
}

.signup-form > h1 {
    position: relative;
    font-size: 1.4em;
    color: #3d3d3d;
    margin: 40px 0 30px;
}
.signup-form > h1::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    left: 0;
    bottom: 2px;
    box-shadow: 0px 3px blueviolet;
}

.signup-form .input {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 365px
}

.signup-form .input i{
    color: blueviolet;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 0;
}

.signup-form .input input{
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    width: 100%;
}

.signup-form .slide {
    padding: 0 20px
}
.signup-form > input {
    background-color: blueviolet;
    color: #eee;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    width: 370px;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.signup-form > input:hover {
    box-shadow: 0 1px 15px blueviolet;
}

.signup-form .slide > p {
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    color: #3d3d3d;
    margin: 10px 0 30px;
}

.signup-form .slide .lable {
    color: blueviolet;
    cursor: pointer;
}

/* --------- LOGIN FORM --------- 

.login-form > h1 {
    position: relative;
    font-size: 1.4em;
    color: #3d3d3d;
    margin-bottom: 40px;
}
.login-form > h1::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    left: 0;
    bottom: 2px;
    box-shadow: 0px 3px blueviolet;
}

.login-form .input {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.login-form .input i{
    color: blueviolet;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 0;
}

.login-form .input input{
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    width: 100%;
    border-bottom: 1px solid gray;
}

.login-form .input input:focus {

    border-bottom: 2px solid blueviolet;
}

.login-form > a {
    display: block;
    margin: -10px 0 40px;
    text-decoration: none;
    font-weight: 500;
    color: blueviolet;

}

.login-form > input {
    background-color: blueviolet;
    color: #eee;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.login-form > input:hover {
    box-shadow: 0 1px 15px blueviolet;
}

.login-form .slide > p {
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    color: #3d3d3d;
    margin: 20px 0 30px;
}

.login-form .slide .lable {
    color: blueviolet;
    cursor: pointer;
}

/* --------- IMAGE --------- 
.image {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 50%;
    transition: transform 0.8s ease;
    -webkit-transition: transform 0.8s ease;
    -moz-transition: transform 0.8s ease;
    -ms-transition: transform 0.8s ease;
    -o-transition: transform 0.8s ease;
    transform-origin: center left;
    transform-style: preserve-3d;
    z-index: 2;
}

.slide #flip {
    display: none;
}

.slide #flip:checked ~ .image{
    transform: rotate3d(0, 1, 0, 180deg);
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
}

.wrapper .image1 {
    position: absolute;
    top:0; right: 0;
    height: 100%;
    width: 400px;
    background: url(/Images/login-background.jpg) no-repeat; background-size: cover;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.wrapper .image1 h1 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}
.wrapper .image1 p {
    font-size: 0.9em;
    width: 100%;
    text-align: center;
}

.wrapper .image2 {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 400px;
    background: url(/Images/signup-background.jpg) no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transform: rotate3d(0, 1, 0, 180deg);
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    -moz-transform: rotate3d(0, 1, 0, 180deg);
    -ms-transform: rotate3d(0, 1, 0, 180deg);
    -o-transform: rotate3d(0, 1, 0, 180deg);
    z-index: -1;
}
.wrapper .image2 h1 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    text-shadow: 0 5px 10px black;
}
.wrapper .image2 p {
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    text-shadow: 0 3px 10px black;
} */


/* .container{
    width: 900px; height: 800px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 30px;
    position: relative;
}

.box{
    width: 50px; height: 50px;
    position: absolute;
    background-color: orange;
    position: absolute;
    bottom: 115px;
    right: 10px;
    animation-name: box1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes box1{

     6.25%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 100%;
}
    15.625%{
        transform: translateX(-355px);
        -webkit-transform: translateX(-355px);
        -moz-transform: translateX(-355px);
        -ms-transform: translateX(-355px);
        -o-transform: translateX(-355px);
        opacity: 100%;
    }
    29.6875%{
        transform: translate(-355px, -620px);
        -webkit-transform: translate(-355px, -620px);
        -moz-transform: translate(-355px, -620px);
        -ms-transform: translate(-355px, -620px);
        -o-transform: translate(-355px, -620px);
        opacity: 100%;
    }
    43.75%{
        transform: translate(-355px, -620px);
        -webkit-transform: translate(-355px, -620px);
        -moz-transform: translate(-355px, -620px);
        -ms-transform: translate(-355px, -620px);
        -o-transform: translate(-355px, -620px);
        opacity: 0%;
    }
    100%{
        transform: translate(-355px, -620px);
        -webkit-transform: translate(-355px, -620px);
        -moz-transform: translate(-355px, -620px);
        -ms-transform: translate(-355px, -620px);
        -o-transform: translate(-355px, -620px);
        opacity: 0%;
    }
}

.box2{
    width: 50px; height: 50px;
    position: absolute;
    background-color: orange;
    position: absolute;
    top: 11px;
    left: 372px;
    animation-name: box2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3.5s;

}

@keyframes box2{

    6.25% {
        transform: translateX(-355px);
        -webkit-transform: translateX(-355px);
        -moz-transform: translateX(-355px);
        -ms-transform: translateX(-355px);
        -o-transform: translateX(-355px);
    }
    12.5% {
        transform: translate(-355px, 312px);
        -webkit-transform: translate(-355px, 312px);
        -moz-transform: translate(-355px, 312px);
        -ms-transform: translate(-355px, 312px);
        -o-transform: translate(-355px, 312px);
    }
    18.75% {
        transform: translate(0px, 312px);
        -webkit-transform: translate(0px, 312px);
        -moz-transform: translate(0px, 312px);
        -ms-transform: translate(0px, 312px);
        -o-transform: translate(0px, 312px);
    }
    25% {
        transform: translate(-355px, 312px);
        -webkit-transform: translate(-355px, 312px);
        -moz-transform: translate(-355px, 312px);
        -ms-transform: translate(-355px, 312px);
        -o-transform: translate(-355px, 312px);
    }
    31.25% {
        transform: translate(-355px, 624px);
        -webkit-transform: translate(-355px, 624px);
        -moz-transform: translate(-355px, 624px);
        -ms-transform: translate(-355px, 624px);
        -o-transform: translate(-355px, 624px);
    }
    37.5% {
        transform: translate(0px, 624px);
        -webkit-transform: translate(0px, 624px);
        -moz-transform: translate(0px, 624px);
        -ms-transform: translate(0px, 624px);
        -o-transform: translate(0px, 624px);

    }
    43.75% {
        transform: translate(-355px, 624px);
        -webkit-transform: translate(-355px, 624px);
        -moz-transform: translate(-355px, 624px);
        -ms-transform: translate(-355px, 624px);
        -o-transform: translate(-355px, 624px);
    } 
    50% {
        transform: translate(-355px, 0px);
        -webkit-transform: translate(-355px, 0px);
        -moz-transform: translate(-355px, 0px);
        -ms-transform: translate(-355px, 0px);
        -o-transform: translate(-355px, 0px);
    }
    56.25%{
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
}

.E1 {
    grid-area: 1 / 1 / 2 / 5;
    background-color: #333;
}
.E2 {
    grid-area: 4 / 1 / 5 / 5;
    background-color: #333;
}
.E3 {
    grid-area: 7 / 1 / 7 / 5;
    background-color: #333;
}
.E4 {
    grid-area: 1 / 1 / 8 / 2;
    background-color: #333;
}

.L1 {
    grid-area: 1 / 5 / 8 / 6;
    background-color: #333;
}
.L2 {
    grid-area: 7 / 5 / 8 / 9;
    background-color: #333;
}



@keyframes rotation{
    to {
        transform: rotateZ(1turn);
        -webkit-transform: rotateZ(1turn);
        -moz-transform: rotateZ(1turn);
        -ms-transform: rotateZ(1turn);
        -o-transform: rotateZ(1turn);
    }
} */



 /* .container {
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    text-align: center;
}
    
.container .card{
        color:white;
        height: 200px;
        width: 150px;
        margin-bottom: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background-color: rgba(238, 238, 238, 0.575);
}

.container .card p{
        background-color: #1f1f1f;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 150px;
        padding: 10px;
        transform: translate(0, 100%);
}

.container .card span{
    background-color: #1f1f1f;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform-origin: 50% bottom 0;
    transform: rotate3d(1, 0, 0, 0deg);
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    -o-transform: rotate3d(1, 0, 0, 0deg);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.container .card:hover span{
    transform: rotate3d(1, 0, 0, 0deg);
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    -o-transform: rotate3d(1, 0, 0, 0deg);
} */


/* .container{
        background-color: #EEE;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(4, auto);
        grid-gap: 10px;
        padding: 40px;
        grid-auto-flow: dense;
        
    }

    .programmer{
        background-color: white;
        padding: 5px 15px;
        border-bottom: 3px solid orangered;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        position: relative;
}

    .programmer h3{
        color: gray;
        font-size: 8pt;
        margin-top: -5px;
    }
    .programmer p:nth-of-type(1){
        font-weight: bold;
    }
    .programmer p:nth-of-type(2){
        color: #303030;
    }

    .programmer p{
        line-height: 15pt;
    }

    .programmer::after{
        content: "”";
        position: absolute;
        font-size: 40pt;
        color: gray;
        right: 10px;
        bottom: -30px
    }
    .black-bg{
        background-color: black;
        color:#EEE;
    }
    .black-bg p:nth-of-type(2){
        color: #D3D3D3;
    }
    .one{grid-column: span 2}
    .three{grid-row: span 3}
    .four{grid-row: span 2}
    .five{grid-column: span 2}
    .six{grid-column: span 2}  */




/* .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 20fr 20fr 1fr;
    grid-template-rows: 90% 5%;
    gap: 20px;
    justify-content: center;
}
.grid *{
    background-color: #403f3f;
    color: white;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.layout{
    padding: 10px;
    margin: 0 auto;
    background-color: #607d8b;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: "header header header header"
                         "section section section aside"
                         "footer footer footer footer";
}

header{
    grid-area: header;
    background-color: #03a9f4;
    color:white;
    padding: 20px;
    position: relative;
}
header::after{
    content: "Header";
}

section{
    grid-area: section;
    background-color: #ff5722;
    color:white;
    padding: 20px;
    position: relative;
}
section::after{
    content: "Section";
}

aside{
    grid-area: aside;
    color:white;
    padding: 20px;
    position: relative;
}
aside::after{
    content: "Aside";
}

footer{
    grid-area: footer;
    background-color: #009688;
    color:white;
    padding: 20px;
    position: relative;
}
footer::after{
    content: "Footer";
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 8fr;
    gap: 15px

}

.grid div{
    background-color: #607d8b;
    color: white;
    position: relative;
    counter-increment: Element;
}
.grid div::after{
    content: "Element "counter(Element);
    position: absolute;
    top: calc(50% - 9px); left: calc(50% - 37.795px);
    font-weight: bold;
} 

.container{margin: 15px auto;width: 600px; height: fit-content;caret-color: red;}
.container div{
    font-size: 15pt;
    margin: 10px 0;
    border:none;
    background-color: #EEE;
    width: 600px;
    position: relative;
}
input:focus{
    outline: none;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

}
.container div::after{
    content: "";
    position:absolute;
    bottom: -3px;
    right:0;left:0;
    width: 100%;
    height: 3px;
    background-color: #06988b;
    background: linear-gradient(to right, #f4483b 50%, #06988b 50%);
}
input{
font-size: 15pt;
border:none;
background-color: #EEE;
padding: 20px;
width: 100%;
position: relative;
transition: transform 0.5s ease-in-out 0s;
-webkit-transition: transform 0.5s ease-in-out 0s;
-moz-transition: transform 0.5s ease-in-out 0s;
-ms-transition: transform 0.5s ease-in-out 0s;
-o-transition: transform 0.5s ease-in-out 0s;
}


/* .page{
    margin: 0 auto;
    width: 100%;
    background-color: #EEE;
    padding: 10px;
    height: 1000px;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.logo{
    background-color: #ddd;
    padding: 15px;
    text-align: center;
    width: 10%;
    margin-right: 10px;
}
.links{
    display:flex;
    list-style: none;
    background-color: #ddd;
    width: 90%;
    padding: 15px; margin:0;
    justify-content: flex-end;
}
.links li{
    margin: 0 10px
}

.main-area{
    display: flex;7
    justify-content: space-between;
    height: 90%;
}

.content{
    width: 70%;
    background-color: #ddd;
    padding: 15px;
    margin: 10px 10px 10px 0;
}
.sidebar{
    width: 30%;
    background-color: #ddd;
    padding: 15px;
    margin: 10px 0;
}
.footer{
    display: flex;
    background-color: #ddd;
    justify-content: space-between;
    padding: 15px;
    height: 5%;
}
.parent{
    display:flex;
    background-color: #EEE;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    padding: 10px;
    margin: 20px auto;
    width: 600px; height: 300px;
    justify-content: space-between;

}

.parent > *{
    background-color: blueviolet;
    width: 180px;
    text-align: center;
    color: white;
    padding: 10px;
    height: fit-content;
}

.four, .six{
    height:150px;
    align-self: flex-end;
}

.five, .two{
    height:130px;

}
.one{order: 1} 
.two{order: 2} 
.three{order: 5; align-self: flex-end;} 
.four{order: 4} 
.five{order: 3} 
.six{order: 6} 


.parent2{
    width: 600px; height: 300px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #EEE;
    justify-content: space-between;
    align-items: flex-end;
}

.parent2 > *{
    background-color: green;
    color:white;
    padding: 10px;
    text-align: center;
    width: fit-content; 
    height: 80px
}

.two2{
    align-self: flex-start;
    width: 300px;
}

.parent3{
    width: 600px; height: 300px;
    background-color: #EEE;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.parent3 > *{
    text-align: center;
    width: 50px;
    background-color: red;
    height: 140px; width: 100px;
    padding: 20px;
    color: white;
}
.one3{background-color: #795548;}
.two3{align-self: flex-end; background-color: #8bc34a;}
.three3{background-color: #ff9800;}
.four3{align-self: flex-end; background-color: #673ab7;}  */